<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <title>Combate app: Battle</title>
</head>
<body>
  <main>
    <div class="container game-board">
        <div class="row">
            <!-- Jugador 1 -->
            <div class="col-md-6 player-1">
                <div class="card-section">
                    <div class="card-title">Jugador 1 - Carta Activa</div>
                    <div class="card-slot">{{ carta_activa_jugador_1.carta.carta.pokemon.nombre_pokemon}}</div>
                </div>
                <div class="card-section">
                    <div class="card-title">Jugador 1 - Reserva</div>
                    {% for cartareserva in carta_reserva_jugador_1 %}
                        <div class="card-slot">{{ cartareserva.carta.carta.pokemon.nombre_pokemon }}</div>
                    {% endfor %}
                </div>
                <div class="card-section">
                    <div class="card-title">Jugador 1 - Descartes</div>
                    {% for cartadescartes in carta_descartes_jugador_1 %}
                        <div class="card-slot">{{ cartadescartes.carta.carta.pokemon.nombre_pokemon }}</div>
                    {% endfor %}
                </div>
                <div class="card-section">
                    <div class="card-title">Jugador 1 - Mazo</div>
                    {% for cartamazo in carta_mazo_jugador_1 %}
                        <div class="card-slot">{{ cartamazo.carta.carta.pokemon.nombre_pokemon }}</div>
                    {% endfor %}
                </div>
                <div class="card-section hand-cards">
                    <div class="card-title">Jugador 1 - Mano</div>
                    {% for cartamano in carta_mano_jugador_1 %}
                        <div class="card-slot">{{ cartamano.carta.carta.pokemon.nombre_pokemon }}</div>
                    {% endfor %}
                </div>
            </div>

            <!-- Jugador 2 -->
            <div class="col-md-6 player">
                <div class="card-section">
                    <div class="card-title">Jugador 2 - Carta Activa</div>
                    <div class="card-slot">{{ carta_activa_jugador_2.carta.carta.pokemon.nombre_pokemon}}</div>
                </div>
                <div class="card-section">
                    <div class="card-title">Jugador 2 - Reserva</div>
                    {% for cartareserva in carta_reserva_jugador_2 %}
                        <div class="card-slot">{{ cartareserva.carta.carta.pokemon.nombre_pokemon }}</div>
                    {% endfor %}
                </div>
                <div class="card-section">
                    <div class="card-title">Jugador 2 - Descartes</div>
                    {% for cartadescartes in carta_descartes_jugador_2 %}
                        <div class="card-slot">{{ cartadescartes.carta.carta.pokemon.nombre_pokemon }}</div>
                    {% endfor %}
                </div>
                <div class="card-section">
                    <div class="card-title">Jugador 2 - Mazo</div>
                    {% for cartamazo in carta_mazo_jugador_2 %}
                        <div class="card-slot">{{ cartamazo.carta.carta.pokemon.nombre_pokemon }}</div>
                    {% endfor %}
                </div>
                <div class="card-section hand-cards">
                    <div class="card-title">Jugador 2 - Mano</div>
                    {% if carta_mano_jugador_2 %}
                        {% for cartamano in carta_mano_jugador_2 %}
                            <div class="card-slot">{{ cartamano.carta.carta.pokemon.nombre_pokemon }}</div>
                        {% endfor %}
                    {% else %}
                        <div class="card-slot">No hay cartas en la mano</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
  </main>
</body>
</html>