{% extends "layout.html" %}

{% block title %}
    Mesa batalla
{% endblock %}

{% block content %}
    <main>
        <div>
            <div class="Grid" id=Jugador1>
                <div class="row">
                    <div class="col" id="Mano">
                        <p>Mano</p>
                    </div>
                    <div class="col" id="Mazo">
                        <p>Mazo</p>
                    </div>
                    <div class="col" id="Descartes">
                        <p>Decartes</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Reserva</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Activo</p>
                    </div>
                </div>

            </div>
            <div class="Grid" id=Jugador1>
                <div class="row">
                    <div class="col" id="Mano">
                        <p>Mano</p>
                    </div>
                    <div class="col" id="Mazo">
                        <p>Mazo</p>
                    </div>
                    <div class="col" id="Descartes">
                        <p>Decartes</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Reserva</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Activo</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
