{% extends "layout.html" %}

{% block title %}
Comparación pokemons
{% endblock %}

{% block content %}
<body>
    <main>
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Comparar</button>
        </form>
        <div>
            <div>
                <div>
                    <div id="chart_div" style="height: 600px">
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        // Parsear el JSON recibido
        const comparisonData = JSON.parse('{{ json_comparison|safe }}');

        // Crear la estructura de datos para el gráfico
        const data = new google.visualization.DataTable();
        data.addColumn('string', 'Pokemon');
        data.addColumn('number', '{{ entrenador.nombre }}');  // Cantidad del entrenador
        data.addColumn('number', 'Total');                    // Cantidad total

        // Encontrar los datos del entrenador y los datos totales
        let entrenadorData = comparisonData.find(item => item.nombre === '{{ entrenador.nombre }}');
        let totalData = comparisonData.find(item => item.nombre === 'total');

        if (entrenadorData && totalData) {
            // Mapeamos las cartas del entrenador para acceso rápido
            const entrenadorMap = {};
            entrenadorData.cartas.forEach(carta => {
                entrenadorMap[carta.carta] = carta.cantidad;
            });

            // Agregar datos al gráfico
            totalData.cartas.forEach(totalCarta => {
                const pokemon = totalCarta.carta;
                const cantidadEntrenador = entrenadorMap[pokemon] || 0;
                const cantidadTotal = totalCarta.cantidad;

                data.addRow([pokemon, cantidadEntrenador, cantidadTotal]);
            });
        }

        // Configuración del gráfico
        const options = {
            title: 'Cartas Pokemon en la Colección de {{ entrenador.nombre }} en comparación con la cantidad total de cartas existentes',
            hAxis: {title: 'Pokemon'},
            vAxis: {title: 'Cantidad'},
            legend: { position: 'top', alignment: 'center' },

        };

        // Dibujar el gráfico en el div con id 'chart_div'
        const chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
</script>
{% endblock %}