{% extends "layout.html" %}

{% block title %}
Lista de pokemons
{% endblock %}

{% block content %}
<main>
    <div>
        <!-- Si no se ha abierto un sobre, muestra esto -->
        <h1><b>Abre tu sobre</b></h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Abrir Sobre</button>
        </form>
        {% if cartas_obtenidas %}
        <h2>Últimas 5 cartas obtenidas por {{ entrenador.nombre }}</h2>
        <ul>
            {% for coleccion in cartas_obtenidas %}
            <li>
                {{ coleccion.pokemon.nombre_pokemon }} - {{ coleccion.pokemon.set.name }}
                {% if coleccion.pokemon.rare %}(Rara){% endif %}
                <br>
                Ataque 1: {{ coleccion.ataque1.ataque.nombre }}
                <br>
                Ataque 2: {{ coleccion.ataque2.ataque.nombre }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div>
        <button><a href="{% url 'view_collection' %}">Ir a ver las colecciones</a></button>
    </div>
    <div>
        <a href="{% url 'compare_collection_to_total' %}?id_entrenador=3">Comparar Coleción de Alex con total cartas existentes</a>
    </div>
    <div>
        <a href="{% url 'compare_collection_to_total' %}?id_entrenador=4">Comparar Coleción de Ivan con total cartas existentes</a>
    </div>
</main>
{% endblock %}
